<section class="signup-form">
  <form
  fxLayoutGap="10px"
  fxLayout="column"
  fxLayoutAlign="center center"
[formGroup]="loginForm"
(ngSubmit)="onSubmit()"
>
   <mat-form-field>
     <input
     matInput
     type="email"
     placeholder="Your email"
     formControlName="email">
<mat-hint>Please enter a valid email</mat-hint>
<mat-error>invalid or missing email</mat-error>
   </mat-form-field>

   <mat-form-field >
     <input
     matInput
     type="password"
     placeholder="Your password"
     formControlName="password"
     >
     <mat-hint>Please enter your password</mat-hint>
     <mat-error>missing password</mat-error>

   </mat-form-field>
   <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">Submit</button>


 </form>
</section>
